@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --base-clr: #d9d9d9;
    --line-clr: #42434a;
    --hover-clr: #096b3c;
    --text-clr: #11121a;
    --accent-clr: #FFCB01;
    --secondary-clr: #b0b3c1;
    --nav-clr: #006636;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
}

#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1.3em;
    background-color: var(--nav-clr);
    border-right: 1px solid var(--line-clr);
    position: sticky;
    top: 0;
    align-self: start;
    overflow: hidden;
    text-wrap: nowrap;
    transition: 300ms ease-in-out;
    display: flex;
    flex-direction: column;

}
#sidebar ul{
    list-style: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{
        font-weight: 600;
    }
}
#sidebar ul li.active{
    color: var(--accent-clr);

    svg{
        fill: var(--accent-clr);
    }
}

#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
} */
.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}
#sidebar svg{
    flex-shrink: 0;
    fill: var(--text-clr);
}
#sidebar a span, #sidebar .dropdown-btn span{
    flex-grow: 1;
}
#sidebar a:hover, #sidebar .dropdown-btn:hover{
    background-color: var(--hover-clr);
}
#sidebar .sub-menu{
    grid-template-rows: 0fr;
    display: grid;
    transition: 300ms ease-in-out;
    > div{
        overflow: hidden;
    }
}
#sidebar .sub-menu.show{
    grid-template-rows: 1fr;
}

.dropdown-btn svg{
    transition: 200ms ease;
}

.rotate svg:last-child{
    rotate: -180deg;
}

#sidebar .sub-menu a{
    padding-left: 2em;
}
#toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg{
        transition: rotate 150ms ease;
    }
}
#toggle-btn:hover{
    background-color: var(--hover-clr);
}
#sidebar.close{
    transition: 300ms ease-in-out;
    width: 60px;
    padding: 5px;
}
.title{
    padding-top: 6px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--nav-clr);
    /* margin-bottom: 1em; */
    text-align: center;
    background-color: white;
    height: 30px;
}
.sub-title{
    padding-top: 6px;
    font-size: 1.25rem;
    font-weight: 600;
    /* color: var(--nav-clr); */
    /* margin-bottom: 1em; */
    text-align: center;
    /* background-color: white; */
    height: 30px;
}
.main-body{
    display: flex;

    /* flex-direction: column; */
    padding: 1em;
    /* gap: 1em; */
    background-color: var(--base-clr);
    color: var(--text-clr);
}
.container_parent{
    padding: min(30px, 7%);
    padding-top: 0;
    /* p{
        color: var(--secondary-clr);
        margin-top: 5px;
        margin-bottom: 15px;
        mix-blend-mode: difference;

    } */
}
.container{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;

}
.container_new_nodes{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;

    p {
        font-size: 14px;
        mix-blend-mode: difference;
        color: rgb(0, 0, 0);

    }

}
.no-blend {
    mix-blend-mode: normal !important;
    color: black !important;
}

.info_container_parent{
    padding: min(30px, 7%);
    padding-top: 0;
    /* p{
        color: var(--secondary-clr);
        margin-top: 5px;
        margin-bottom: 15px;
        mix-blend-mode: difference;

    } */
}
.info_container{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;

}

.info_card {
    /* width: 100%; */
    border: 0.1px solid #ccc; /* Replace with your outline color */
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    padding: 16px;
    background: white;
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;

  }
  
  .info_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .info_column {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }

  .info_field {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
  }
  
  .info_label {
    width: 120px;
    font-weight: bold;
    font-size: 15px;
    color: #555;
  }
  
  .info_value {
    flex: 1;
    color: #333;
  }

.bag-info{
    width: 140px;
    height: auto;
    border: 1px solid var(--line-clr);
    border-radius: .5em;
    margin-right: 1px;
    margin-bottom: 1px;
    padding-left: min(1em, 15%);
    background: white;  
    padding-right: min(1em, 15%);
    /* p {
        margin-top: 5px;
        mix-blend-mode: difference;
        color: var(--text-clr);
    } */
}
.new-bag-info{
    width: 140px;
    height: auto;
    border: 1px solid var(--line-clr);
    border-radius: .5em;
    margin-right: 1px;
    margin-bottom: 1px;
    padding-left: min(1em, 15%);
    padding-right: min(1em, 15%);
    p {
        margin-top: 5px;
        /* mix-blend-mode: difference; */
        color: gray;
    }
}
.bag-info-details{
    display: flex;
    justify-content: space-evenly;
}

form {
    /* background-color: var(--hover-clr);
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    */
    max-width: auto;
    margin: 0 auto;
    max-height: auto; 
    border: 0.1px solid #ccc; /* Replace with your outline color */
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    padding: 16px;
    background: var(--nav-clr);
    /* height: 100%;*/
    width: 70%; 
    /* display: flex; */
    /* flex-wrap: wrap; */
}

form label, form p {
    display: block;
    margin-bottom: 0.5em;
    font-weight: 600;
    color: var(--text-clr);
}

form input {
    width: auto;
    padding: 0.3em;
    margin-bottom: .5em;
    border: 1px solid var(--line-clr);
    border-radius: 0.3em;
    background-color: var(--base-clr);
    color: var(--text-clr);
    font-size: .8rem;
}

form input:focus {
    outline: none;
    border-color: var(--accent-clr);
    box-shadow: 0 0 5px var(--accent-clr);
}

/* form button {
    width: 100%;
    padding: 0.8em;
    background-color: var(--accent-clr);
    color: #fff;
    border: none;
    border-radius: 0.5em;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #ff3e5e;
} */

form button:disabled {
    background-color: var(--line-clr);
    color: var(--secondary-clr);
    cursor: not-allowed;
    opacity: 0.7;
}

form p {
    margin-bottom: .1em;
    font-size: 0.8rem;
    color: var(--secondary-clr);
    /* text-align: center; */
}

.form-grid {
    /* display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    background-color: var(--nav-clr);
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 ;
    margin-right: 2em; */
}

.form-column {
    display: flex;
    flex-direction: column;
}

.form-column label {
    margin-bottom: 0.5em;
    font-weight: 600;
    color: var(--text-clr);
}

.form-column input {
    /* width: 90%; */
    padding: 0.8em;
    margin-right: 0.2%;
    margin-bottom: 1.5em;
    border: 1px solid var(--line-clr);
    border-radius: 0.5em;
    background-color: var(--base-clr);
    color: var(--text-clr);
    font-size: 1rem;
    max-width: auto;

}

.form-column input:focus {
    outline: none;
    border-color: var(--accent-clr);
    box-shadow: 0 0 5px var(--accent-clr);
}
.form-column select, option {
    /* width: 90%; */
    padding: 0.8em;
    margin-right: 0.2%;
    margin-bottom: 1.5em;
    border: 1px solid var(--line-clr);
    border-radius: 0.5em;
    background-color: var(--base-clr);
    color: var(--text-clr);
    font-size: 1rem;
    max-width: auto;

}

.form-column select:focus {
    outline: none;
    border-color: var(--accent-clr);
    box-shadow: 0 0 5px var(--accent-clr);
}

.form-column button {
    align-self: flex-end;
    padding: 0.8em 2em;
    background-color: var(--accent-clr);
    color: #000000;
    border: none;
    border-radius: 0.5em;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-column button:hover {
    background-color: color-mix(in srgb, var(--accent-clr) 85%, black);

}

.readonly-input {
    background-color: var(--line-clr);
    color: var(--secondary-clr);
    cursor: not-allowed;
    opacity: 0.7;
}

.info_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%; /* Ensure buttons span the width of the card */
}

.qr-btn, .delete-btn {
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Limit button width */
    height: 40px; /* Ensure buttons are square */
}

.qr-btn {
    background-color: #1976d2; /* Solid blue background */
}

.qr-btn:hover {
    background-color: #0d47a1; /* Darker blue on hover */
}

.delete-btn {
    background-color: #d32f2f; /* Red background */
}

.delete-btn:hover {
    background-color: #5b0000; /* Darker red hover */
}

.qr-btn svg, .delete-btn svg {
    fill: #000000; /* Black fill for icons */
    width: 24px;
    height: 24px;
}

.edit-btn {
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #028200; /* Orange background */
    margin: 0 5px; /* Add some spacing between buttons */
}

.edit-btn:hover {
    background-color: #006508; /* Darker orange on hover */
}

.edit-btn svg {
    fill: #000000;
    width: 24px;
    height: 24px;
}

#qrModal img {
    max-width: 100%;
    height: auto;
}

#editForm select {
    width: 80%;
    padding: 3.84px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #d9d9d9;
    font-size: .8rem;
}

#editForm select:focus {
    outline: none;
    border-color: #1976d2;
    box-shadow: 0 0 5px rgba(25, 118, 210, 0.5);
}

/* Modal container */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal content */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

/* Close button */
#close-modal {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #950000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#close-modal:hover {
    background-color: #630000;
}

@media (max-width: 768px) {
    #sidebar {
        width: 60px;
        padding: 5px;
    }

    #sidebar img {
        /* display: none; */
        height: 50px;
        width: 50px;
    }

    #sidebar a span {
        display: none;
    }

    #sidebar a, #sidebar .dropdown-btn {
        justify-content: center;
        padding: 1em;
    }

    .title {
        font-size: 1rem;
        padding: 0.5em;
    }

    .container_parent {
        padding: 15px;
    }
}
